<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <h1 class="h2">{{vm.titulo}}</h1>
</div>
<form>
    <!-- <div class="form-row"> -->
        <div class="form-group">
            <label for="titulo">Título</label>
            <input type="text" ng-class="{'is-invalid': vm.error.titulo}" ng-model="vm.registro.titulo" class="form-control" id="titulo">
            <small ng-if="vm.error.titulo" class="invalid-feedback">
                {{vm.error.titulo[1]}}
            </small>
        </div>
    <!-- </div> -->
    <div class="form-group">
        <label for="resumo">Resumo</label>
        <input type="text" ng-class="{'is-invalid': vm.error.resumo}" ng-model="vm.registro.resumo" class="form-control" id="resumo"
            placeholder="Digite o resumo do livro">
        <small ng-if="vm.error.resumo" class="invalid-feedback">
            {{vm.error.resumo[1]}}
        </small>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="pagina">Página</label>
            <input type="number" ng-class="{'is-invalid': vm.error.pagina}" ng-model="vm.registro.pagina" class="form-control" id="pagina">
            <small ng-if="vm.error.pagina" class="invalid-feedback">
                {{vm.error.pagina[1]}}
            </small>
        </div>
        <div class="form-group col-md-6">
            <label for="edicao">Edição</label>
            <input type="text" ng-class="{'is-invalid': vm.error.edicao}" ng-model="vm.registro.edicao" class="form-control"
                id="edicao">
            <small ng-if="vm.error.edicao" class="invalid-feedback">
                {{vm.error.edicao[1]}}
            </small>
        </div>
    </div>

    <button type="button" ng-click="vm.salvar()" class="btn btn-primary">Salvar</button>
    <a ui-sref="livrosList" class="btn btn-danger">Cancelar</button>
</form>